**NO sobrescribir este Notebook, favor de hacer unaa copia a la carpeta "codigo_estudiantes".**

# Ejercicio 1

**Búsqueda simple con search**

Dada la cadena:
`cadena = "She sells sea shells by the seashore"`
<BR>
Encuentra la primera palabra que empiece con "se" (ignora mayúsculas y minúsculas) y muestra su posición inicial y final.

In [ ]:
# Tu código aquí

# Ejercicio 2

**Uso de findall**

Con la misma cadena, encuentra todas las ocurrencias de "sh" y muéstralas en una lista.

In [ ]:
# Tu código aquí

# Ejercicio 3

**Metacaracteres . y ^**

Usa la cadena:
<BR>
`cadena = "Peter Piper picked a peck of pickled peppers"`
<BR>
1. Encuentra todas las palabras que empiecen con "pi".
2. Encuentra todas las palabras que terminen en "ed".

In [ ]:
# Tu código aquí

# Ejercicio 4

**Caracteres especiales escapados**

Dada la cadena:
<BR>
`cadena = "El precio del producto es $59.99"`
<BR>
1. Encuentra el valor que aparece después del símbolo $.
2. Busca el separador decimal "." de manera literal.

In [ ]:
# Tu código aquí

# Ejercicio 5

**Conjuntos de caracteres []**

Dada la cadena:
<BR>
`text = "En un rato llega el pato a la granja de Tato"`
<BR>
Encuentra todas las palabras que terminen en "ato" y que empiecen con r, p o t.

In [ ]:
# Tu código aquí

# Ejercicio 6

**Rangos y negaciones**

Dada la cadena:
<BR>
`direccion = "Av. Corrientes 1234 Piso 5"`
<BR>
1. Extrae solo las letras minúsculas [a-z].
2, Extrae solo los números [0-9].
3. Extrae todos los caracteres que no sean números ([^0-9]).

In [ ]:
# Tu código aquí

# Ejercicio 7

**Cuantificadores**

Dada la lista:
<BR>
`numeros = ["12", "102", "1002", "10002", "1000002"]`
<BR>
1. Encuentra con regex los números que tengan exactamente un 0 entre el 1 y el 2.
2. Encuentra los que tengan uno o más ceros.
3. Encuentra los que tengan cero o más ceros.

In [ ]:
# Tu código aquí

# Ejercicio 8

**Grupos de captura**

Dada la cadena:
<BR>
`text = "Juan: 11-15-3456-7890, María: 11-15-6543-2109"`
<BR>
Crea un patrón que extraiga cada número de celular en tres grupos:
1. código de área (11)
2. prefijo (15-xxxx)
3. número final (xxxx)

Imprime cada número completo y sus partes.

In [ ]:
# Tu código aquí

# Ejercicio 9

**Sustitución con sub**

Dada la cadena:
<BR>
`text = "El número de Pedro es 123-456-7890 y el de Ana es 987-654-3210"`

1. Reemplaza todos los números de teléfono por "XXX-XXX-XXXX".
2. Reemplaza "Pedro" por "Juan".

In [ ]:
# Tu código aquí

# Ejercicio 10

**compile y reutilización de patrones**

Dada la cadena:
<BR>
`cadena = "07/08/2017 | 03/02/1984 | 17/03/1984"`
<BR>
1. Usa re.compile para definir un patrón que encuentre años de 4 dígitos.
2. Obtén todas las coincidencias con findall().
3. Reemplaza los años por "XXXX".

In [ ]:
# Tu código aquí