**NO sobrescribir este Notebook, favor de hacer unaa copia a la carpeta "codigo_estudiantes".**

# Ejercicio 1

**Búsqueda simple con search**

Dada la cadena:
`cadena = "She sells sea shells by the seashore"`
<BR>
Encuentra la primera palabra que empiece con "se" (ignora mayúsculas y minúsculas) y muestra su posición inicial y final.

In [15]:
import re

cadena = "She sells sea shells by the seashore"
resultado = re.search(r'\bse\w+', cadena, re.IGNORECASE)
print(resultado)

<re.Match object; span=(4, 9), match='sells'>

# Ejercicio 2

**Uso de findall**

Con la misma cadena, encuentra todas las ocurrencias de "sh" y muéstralas en una lista.

In [19]:
cadena = "She sells sea shells by the seashore"
resultado = [word for word in cadena.split() if re.search('^sh', word, re.IGNORECASE)]
print(resultado)

resultado = re.findall(r"\bsh\w*", cadena, re.IGNORECASE)
print(resultado)

['She', 'shells']
['She', 'shells']

# Ejercicio 3

**Metacaracteres . y ^**

Usa la cadena:
<BR>
`cadena = "Peter Piper picked a peck of pickled peppers"`
<BR>
1. Encuentra todas las palabras que empiecen con "pi".
2. Encuentra todas las palabras que terminen en "ed".

In [23]:
cadena = "Peter Piper picked a peck of pickled peppers"

resultado = [word for word in cadena.split() if re.search(r'^pi\w+', word, re.IGNORECASE)]
print(resultado)

resultado = re.findall(r"\bpi\w*", cadena, re.IGNORECASE)
print(resultado)

['Piper', 'picked', 'pickled']
['Piper', 'picked', 'pickled']

In [24]:
resultado = [word for word in cadena.split() if re.search('^pi.*ed$', word, re.IGNORECASE)]
print(resultado)

resultado = re.findall(r"\w*ed\b", cadena, re.IGNORECASE)
print(resultado)

['picked', 'pickled']
['picked', 'pickled']

# Ejercicio 4

**Caracteres especiales escapados**

Dada la cadena:
<BR>
`cadena = "El precio del producto es $59.99"`
<BR>
1. Encuentra el valor que aparece después del símbolo $.
2. Busca el separador decimal "." de manera literal.

In [27]:
cadena = "El precio del producto es $59.99"

solucion = re.search(r'\$(\d+)', cadena)
print(solucion)

<re.Match object; span=(26, 29), match='$59'>

In [32]:
solucion = re.search(r'\d+\.\d+', cadena)
print(solucion)

<re.Match object; span=(27, 32), match='59.99'>

# Ejercicio 5

**Conjuntos de caracteres []**

Dada la cadena:
<BR>
`text = "En un rato llega el pato a la granja de Tato"`
<BR>
Encuentra todas las palabras que terminen en "ato" y que empiecen con r, p o t.

In [40]:
text = "En un rato llega el pato a la granja de Tato"

resultado = re.findall(r'\b[rpto]ato\b', text)
print(resultado)

['rato', 'pato']

# Ejercicio 6

**Rangos y negaciones**

Dada la cadena:
<BR>
`direccion = "Av. Corrientes 1234 Piso 5"`
<BR>
1. Extrae solo las letras minúsculas [a-z].
2. Extrae solo los números [0-9].
3. Extrae todos los caracteres que no sean números ([^0-9]).

In [41]:
direccion = "Av. Corrientes 1234 Piso 5"
solucion1 = re.findall(r'[a-z]', direccion)
print(solucion1)

solucion2 = re.findall(r'[0-9]', direccion)
print(solucion2)

solucion3 = re.findall  (r'[^0-9]', direccion)
print(solucion3)

['v', 'o', 'r', 'r', 'i', 'e', 'n', 't', 'e', 's', 'i', 's', 'o']
['1', '2', '3', '4', '5']
['A', 'v', '.', ' ', 'C', 'o', 'r', 'r', 'i', 'e', 'n', 't', 'e', 's', ' ', ' ', 'P', 'i', 's', 'o', ' ']

# Ejercicio 7

**Cuantificadores**

Dada la lista:
<BR>
`numeros = ["12", "102", "1002", "10002", "1000002"]`
<BR>
1. Encuentra con regex los números que tengan exactamente un 0 entre el 1 y el 2.
2. Encuentra los que tengan uno o más ceros.
3. Encuentra los que tengan cero o más ceros.

In [47]:
numeros = ["12", "102", "1002", "10002", "1000002"]
solucion1 = [num for num in numeros if re.search(r'102', num)]
print(solucion1)

solucion2 = [num for num in numeros if re.search(r'10+2', num)]
print(solucion2)

solucion3 = [num for num in numeros if re.search(r'10*2', num)]
print(solucion3)

['102']
['102', '1002', '10002', '1000002']
['12', '102', '1002', '10002', '1000002']

# Ejercicio 8

**Grupos de captura**

Dada la cadena:
<BR>
`text = "Juan: 11-15-3456-7890, María: 11-15-6543-2109"`
<BR>
Crea un patrón que extraiga cada número de celular en tres grupos:
1. código de área (11)
2. prefijo (15-xxxx)
3. número final (xxxx)

Imprime cada número completo y sus partes.

In [51]:
text = "Juan: 11-15-3456-7890, María: 11-15-6543-2109"
patron = "(1{2})-(15-[0-9]{4})-([0-9]{4})"
solucion = re.findall(patron, text)
for celular in solucion:
    print(f"Número completo: {celular[0]}-{celular[1]}-{celular[2]}")
    print(f"Código de área: {celular[0]}")
    print(f"Prefijo: {celular[1]}")
    print(f"Número final: {celular[2]}")
    print()

Número completo: 11-15-3456-7890
Código de área: 11
Prefijo: 15-3456
Número final: 7890

Número completo: 11-15-6543-2109
Código de área: 11
Prefijo: 15-6543
Número final: 2109

# Ejercicio 9

**Sustitución con sub**

Dada la cadena:
<BR>
`text = "El número de Pedro es 123-456-7890 y el de Ana es 987-654-3210"`

1. Reemplaza todos los números de teléfono por "XXX-XXX-XXXX".
2. Reemplaza "Pedro" por "Juan".

In [52]:
text = "El número de Pedro es 123-456-7890 y el de Ana es 987-654-3210"

# 1. Reemplazar todos los teléfonos
patron_telefonos = r"[0-9]{3}-[0-9]{3}-[0-9]{4}"
text_enmascarado = re.sub(patron_telefonos, "XXX-XXX-XXXX", text)

# 2. Reemplazar "Pedro" por "Juan"
text_final = re.sub(r"Pedro", "Juan", text_enmascarado)

print("Texto original:")
print(text)
print("\nTexto modificado:")
print(text_final)

Texto original:
El número de Pedro es 123-456-7890 y el de Ana es 987-654-3210

Texto modificado:
El número de Juan es XXX-XXX-XXXX y el de Ana es XXX-XXX-XXXX

# Ejercicio 10

**compile y reutilización de patrones**

Dada la cadena:
<BR>
`cadena = "07/08/2017 | 03/02/1984 | 17/03/1984"`
<BR>
1. Usa re.compile para definir un patrón que encuentre años de 4 dígitos.
2. Obtén todas las coincidencias con findall().
3. Reemplaza los años por "XXXX".

In [53]:
cadena = "07/08/2017 | 03/02/1984 | 17/03/1984"

# Compilamos el patrón para años de 4 dígitos
patron = re.compile(r"\d{4}")

# 1. Obtener todas las coincidencias con findall()
coincidencias = patron.findall(cadena)
print("Coincidencias encontradas:", coincidencias)

# 2. (Opcional) Usar finditer para ver posición y valor
for match in patron.finditer(cadena):
    print(f"Año: {match.group()} en posición {match.span()}")

Coincidencias encontradas: ['2017', '1984', '1984']
Año: 2017 en posición (6, 10)
Año: 1984 en posición (19, 23)
Año: 1984 en posición (32, 36)