<h1>Tuplas en Python</h1>

Una tupla es un conjunto de elementos separados por comas y encerrados entre paréntesis.
<BR>
Algunas de sus características son:
* Los paréntesis no son obligatorios.
* Son inmutables: intentar modificarlas provoca un error: TypeError
* En general contienen una secuencia heterogénea de elementos.
* Los elementos pueden ser mutables.
* Para crearlas se utilizan paréntesis (opcionales) y la coma “,”

## Declaración de Tuplas

In [ ]:
tupla = ()
print(tupla)

In [ ]:
colores = ('Rojo', 'Azul', 'Verde')
print(colores)

In [ ]:
dias = "Lunes",
print(dias)

In [ ]:
personas = 'Juan', 'Pablo', 'Luisa'
print(personas)

In [ ]:
mixta = (1, 'Producto 1', True, [256, 987])
print(mixta)

## Declaración de tuplas con un elemento

Para que Python reconozca una tupla de un solo elemento, es necesario colocar una coma después del valor, incluso si está dentro de paréntesis.
<BR>
Sin esta coma, Python no lo interpretará como una tupla, sino como el tipo de dato del valor en sí.
La coma es el indicador clave para que Python identifique una tupla de un solo elemento.

In [ ]:
var1 = "Lunes"
print(type(var1)) # <class 'str'>
var2 = "Lunes",
print(type(var2)) # <class 'tuple'>
var3 = ("Lunes")
print(type(var3)) # <class 'str'>
var4 = ("Lunes",)
print(type(var4)) # <class 'tuple'>

In [ ]:
var5 = 10
print(type(var5)) # <class 'int'>
var6 = 10,
print(type(var6)) # <class 'tuple'>
var7 = 10
print(type(var7)) # <class 'int'>
var8 = 10,
print(type(var8)) # <class 'tuple'>

Las tuplas son inmutables, no podemos modificarla una vez creadas. Sin embargo, es posible modificar sus elementos mutables, veamos

In [ ]:
# No podemos modificar el elemento con index = 3
mixta[3]= 10

In [ ]:
# Pero si podemos modificar la lista en la posición 3
mixta[3][0]=10
print(mixta[3][0])

# Operadores con tuplas

Operador * utilizado para replicar tuplas

In [ ]:
binario = (0, 1) * 3
print(binario) # (0, 1, 0, 1, 0, 1)

Operado + utilizado para concatenar tuplas

In [ ]:
fecha = ()
fecha = fecha + (25,)
fecha += ("Enero",)
fecha += (2009,)
print(fecha) # (25, 'Enero', 2009)
print(fecha[0]) # 25
print(fecha[1]) # Enero
print(fecha[2]) # 2009

Operadores in / not se utilizan para verificar si un valor esta o no presente en una tupla

In [ ]:
tupla = (1, 2, 3, 4, 5)
print(3 in tupla) # True
print(6 in tupla) # False
print(10 not in tupla) # True

# Tuplas mixtas y tupla de tuplas

En una tupla se pueden combinar distintos tipos de datos

In [ ]:
primavera = (21, "Septiembre")
invierno = (21, "Junio")
print(primavera, invierno) # (21, 'Septiembre') (21, 'Junio')

Cada elemento puede contener una tupla:

In [ ]:
estaciones = (primavera, invierno)
print(estaciones) # ((21, 'Septiembre'), (21, 'Junio'))

# Iteración de tuplas

In [ ]:
semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes")

In [ ]:
for dia in semana:
  print(dia)

In [ ]:
for indice, dia in enumerate(semana):
  print(indice, dia)

In [ ]:
semana_lower = tuple(dia.lower() for dia in semana)
print(type(semana_lower))
print(semana_lower)

# Slicing o Rebanadas con Tuplas

Se pueden utilizar rebanadas:

In [ ]:
semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes")
print(semana[1:3]) # ('Martes', 'Miércoles')

In [ ]:
# Tupla con números
numeros = (10, 20, 30, 40, 50, 60)
print(numeros[:4])   # (10, 20, 30, 40) -> desde el inicio hasta el índice 3

In [ ]:
# Tupla con letras
letras = ("a", "b", "c", "d", "e", "f")
print(letras[2:])    # ('c', 'd', 'e', 'f') -> desde el índice 2 hasta el final

# Empaquetar y desempaquetar en Tuplas

In [ ]:
# Ejemplo de empaquetado
dia = 11
mes = 9
anio = 2024
fecha = (dia, mes, anio)
print(fecha) # (11, 9, 2024)

In [ ]:
# Ejemplo de desempaquetado
fecha = (28, 'Septiembre', 2024)
dia, mes, anio = fecha
print(dia) # 28
print(mes) # Septiembre
print(anio) # 2024

# Funciones y métodos en Tuplas

In [ ]:
numeros = (13, 25, 9, 20, 56, 4)

## len()
Devuelve la cantidad de elementos

In [ ]:
print(len(numeros)) # 6

## max(), min(), sum()

In [ ]:
print(max(numeros)) # 56
print(min(numeros)) # 4
print(sum(numeros)) # 127

## tupla.index(valor)
Devuelve el índice de la primera aparición de valor en la tupla

In [ ]:
tupla = (1, 2, 3, 1, 1, 4, 5, 1)
print(tupla.index(3)) # 2
#print(tupla.index(6)) # ValueError: tuple.index(x): x not in tuple

## tupla.count()
Devuelve el número de veces que valor aparece en la tupla

In [ ]:
print(tupla.count(1)) # 4
print(tupla.count(6)) # 0

# Copiar tuplas
En Python las tuplas son inmutables, y eso implica que no existe un método “copy()” como en las listas o diccionarios. Pero sí hay formas de copiar o clonar una tupla:

In [ ]:
# Aquí la asignación es a modo de referencia a la posición de memoria
tupla1 = (1,2,3)
tupla2 = tupla1
print(id(tupla1))
print(id(tupla2))

136271065951168
136271065951168

In [ ]:
tupla1 = (1,2,3)
tupla2 = tupla1[:]
tupla3 = tupla1[0:-1]
print(tupla1, id(tupla1))
print(tupla2, id(tupla2))
print(tupla3, id(tupla3))

(1, 2, 3) 136270117754880
(1, 2, 3) 136270117754880
(1, 2) 136270122074688